@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');
body {
margin: 10;
padding: 0;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes zoomIn {
  from { opacity: 0; transform: scale3d(.3, .3, .3); }
  50% { opacity: 1; }
}

.page-wrapper {
   height: 1040px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.content-wrapper {
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 36px;
}

.inner-panel {
  padding: 20px;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  background-color: rgba( 44, 55, 71, 0.6);
}

#panel-1 {
  grid-column: 1;
  margin: 13%;
  width: 66%;
  height: 66%;
}

#panel-2 {
  grid-column: 2;
  margin: 13%;
  width: 66%;
  height: 66%;
}

#panel-3 {
  grid-column: 1;
  margin: 13%;
  width: 66%;
  height: 66%;
}

#panel-4 {
  grid-column: 2;
  margin: 13%;
  width: 66%;
  height: 66%;
}

#home-wrapper {
  background-image: url("images/clouds.jpg");
}

#contact-wrapper {
  background-image: url("images/brickwall.jpg");
}

#connect-wrapper {
  background-image: url("images/connect.jpg");
}

#history-wrapper {
  background-image: url("images/train.jpg");
}

#skills-wrapper {
  background-image: url("images/computer.jpg");
}

#jobs-wrapper {
  background-image: url("images/river.jpg");
}

#wood-wrapper {
  background-image: url("images/background.jpg");
}

#L {
  margin-top: -5px;
  margin-left: 40px;
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 2;
}

.hide {
  display: none;
}

.title {
  position: absolute;
  font-size: 100px;
  font-family: 'Lobster', cursive;
  -webkit-animation: fadein 2s;
  left: 10%;
  top: 200px;
  /* transition: opacity 300ms ease-in-out 1s; */
  z-index: 0;
}

#nav.shrink {
  height: 40px;
  transition: all ease .5s;
  background: black;
}

#nav {
  height: 70px;
  background: transparent;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
}

.link {
position: relative;
float: right;
font-size: 25px;
margin-top: -5px;
margin-right: 80px;
color: black;
text-decoration: none;
font-family: 'Raleway', sans-serif;
}

#carousel-sizing{
  height: 1000px;
  width: 100%;
}

#nav {
  height: 80px;
  background: transparent; // Transparent initial setting
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: all ease .5s;
}

#nav.shrink {
  height: 60px;
  transition: all ease .5s;
  background: rgba( 44, 55, 71, 0.6); // Change background to black on scroll
}

#nav.shrink .logo {
  padding: 10px;
  font-size: 25px;
  transition: all ease .5s;
}

#L {
  display: none;
}

#L.show {
  display: block;
}
/*Navbar Styling */
.logo {
  padding-top: 15px;
  padding-right: 15px;
  font-size: 25px;
  transition: all ease .5s;
}

@media screen and (max-width : 760px){
  #nav {
    display: none;
  }
  .hide{
    display: block;
    position: fixed;
    width: 100%;
  }
  .page-wrapper {
    width: 100%;
    height: 400px;
  }
  .title {
    top: 60px;
  }
}

.link:hover{
  /* border-bottom: 5px solid #0b47a8; */
  text-decoration: none;
  color: black;
  transition: all ease-in-out 300ms;
  -webkit-transform: scale(1.3);
}

#profile-picture {
  height: 400px;
  width: 400px;
  margin-top: 100px;
  margin-left: 100px;
  left: 0;
}

.contact-picture {
  margin-top: 200px;
  margin-left: 100px;
  height: 400px;
  width: 400px;
}


#navbar ul {
  list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

#navbar li {
  display:inline-block;
	float: right;
	margin-right: 1px;
}

#navbar li a{
  display:block;
  min-width:20px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
}

.contact-form {
  position: absolute;
  padding: 20px;
  margin: -410px 50px 100px 200px;
  width: 50%;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  right: 0px;
  background-color: rgba(83,83,83,0.5);
}

.description {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  margin-right: 100px;
  top: 1100px;
  left: 50%;
  text-align: center;
  padding: 20px;
  background: grey;
  opacity: 0.5;
}
